@{
    ViewData["Title"] = "Acasă";
}

<h1>Demo Rezervare Avioane</h1>

<p>Welcome! Alege una din opțiuni:</p>

<ul>
    <li><a href="/Zbor/Cauta">Caută zbor</a></li>
    <li><a href="/Zbor/Rezervari">Vezi rezervările</a></li>
</ul>